<%- include("partials/header"); -%>
<h1> Compose</h1>
<form class="" method="post" action="/compose" >
<input type="text" name="name">
<button type="submit">Publish</button>
<h4>Name of the blog</h4>
<textarea name="title1" rows="1" cols="80"></textarea>
<h4>Post</h4>
<textarea name="title2" rows="8" cols="60" name="post1"></textarea>
<br>
<button type="submit" class="btn">Publish</button>
</form>
<%- include("partials/footer"); -%>
